<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DRTRADE.AI</title>
        <link rel="icon" type="image/x-icon" href="https://profile.line-scdn.net/0hHPXA5lYZF39lOAIy2u1oKFl9GRISFhE3HQxaHkI4GktLDwN6C1ddEEAxHh8bCwcuDldbGhNtGRxO" />
        <!--ajax-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Dark mode -->
        <link href="{{url_for('.static', filename='css/dark-mode.css')}}" rel="stylesheet" />
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('.static', filename='css/styles.css')}}" rel="stylesheet" />
        <!--LINE LIFF-->
        <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
        <!--sweetalert-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm bg-black" id="mainNav">
            <div class="container px-5">                 
                <a class="navbar-brand fw-bold bg-dark-text" href="./">DRTRADE.AI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="darkSwitch">
                    <label class="custom-control-label" for="darkSwitch">🌓 Dark Mode</label>
                </div>
                <!--check theme dark-->
                <script>
                    var mode = localStorage.getItem("darkSwitch")
                    if (!mode){
                        mode = 'light'
                        document.body.removeAttribute("data-theme");
                        localStorage.removeItem("darkSwitch","light");
                    }
                    else{
                        document.body.setAttribute("data-theme", "dark");
                        localStorage.setItem("darkSwitch", "dark");
                    }
                </script>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Guide
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="./keylevels">support and resistance</a>
                                <a class="dropdown-item" href="./breakout">breakout</a>
                                <a class="dropdown-item" href="./candlestick">candlestick</a>
                                <a class="dropdown-item" href="./divergence">divergence</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link me-lg-3 bg-dark-text" href="./backtest">Backtest</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3 bg-dark-text" href="./Cryptocurrency">Cryptocurrency</a></li>
                        <!--<li class="nav-item"><a class="nav-link me-lg-3 bg-dark-text" href="./Federalcurrency">Federalcurrency</a></li>-->
                        <li class="nav-item"><a class="nav-link me-lg-3 bg-dark-text" href="#features">Features</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3 bg-dark-text" href="#download">Contact</a></li>

                        <li class="nav-item"><div id="btnLogOut" class="dropdown">
                            <img alt="Avatar" class="avatar" id="pictureUrl" style="width: 30px;height: 30px;border-radius: 50%;">
                            <button style="margin-top: 5px;border-color: transparent;" class="dropdown-toggle c-dark bg-black" id="displayName" type="button" data-bs-toggle="dropdown"></button>
                            <ul class="dropdown-menu bg-black">
                              <li  class="nav-item"><a class="nav-link me-lg-3 bg-dark-text" href="./payment">Payment</a></li>
                              <li  class="nav-item"><a class="nav-link me-lg-3 bg-dark-text" href="./setting">Setting</a></li>
                              <li  class="nav-item" onclick="logOut()"><a class="nav-link me-lg-3 bg-dark-text">Logout</a></li>
                            </ul>
                          </div>
                          <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" onclick="logIn()" id="btnLogIn" data-bs-toggle="modal">
                            <span class="d-flex align-items-center">
                                <span class="small">Login</span>
                            </span>
                        </button></li>
                    </ul>
                    
                </div>
            </div>
        </nav>

        <header class="masthead">
            <div class="container">
                <form method="post">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-12">
                        <div class="mb-5 mb-lg-0 text-lg">
                            <select id="symbol" name="symbol" required class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                <option value="BTCUSDT" selected>เลือกเหรียญคริปโต</option>
                                {% for row in crypto %}
                                <option value="{{row['Symbol']}}">{{row['Symbol']}}</option>
                                {% endfor %} 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-12">
                        <div class="mb-5 mb-lg-0 text-lg">
                            <div class="card">
                                <div class="row gx-5 m-2 align-items-left bg-light-text">
                                    {% if stats.length !=0 and stats.all %}
                                        {% for key in stats.keys() %}
                                            {% if 'Avg. Drawdown Duration' not in key and  key != '_equity_curve' and key != '_trades' and 'Exposure Time [%]' not in key and 'Return [%]' not in key and 'Volatility' not in key and 'Calmar Ratio' not in key and key!=  'Calmar Ratio' and '_strategy' not in key and 'Sharpe Ratio' not in key %}
                                                {% if 'Equity Final [%]' in key %}
                                                <div class="col-lg-4 text-success">
                                                    เงินทุนคงเหลือ [$]:{{stats.get(key)}}
                                                </div>
                                                {% elif 'Drawdown Duration' in key %}
                                                <div class="col-lg-4 text-success" role="button" data-toggle="tooltip" title="ระยะเวลาที่นับตั้งแต่เริ่มต้นของความสูญเสียสูงสุด (Max. Drawdown) จนถึงเวลาที่ราคาหรือมูลค่าลงมาถึงระดับต่ำสุดแล้วกลับขึ้นมาอีกครั้ง">
                                                    {{key}}:{{stats.get(key)}} วินาที
                                                </div>
                                                {% elif 'Win Rate [%]' in key %}
                                                <div class="col-lg-4 text-success" >
                                                    อัตราชนะ [%]:{{stats.get(key)}}
                                                </div>
                                                {% elif 'Avg. Trade [%]' in key %}
                                                <div class="col-lg-4 text-success" >
                                                    ผลกำไรขาดทุน [%]:{{stats.get(key)}}
                                                </div>
                                                {% elif 'Profit Factor' in key %}
                                                <div class="col-lg-4 text-success" role="button" data-toggle="tooltip" title="โดยค่า Profit Factor ที่มากกว่า 1 จะแสดงถึงระบบการซื้อขายหรือการลงทุนที่มีผลกำไรมากกว่าขาดทุน ในขณะที่ค่า Profit Factor ที่น้อยกว่า 1 จะแสดงถึงระบบการซื้อขายหรือการลงทุนที่มีขาดทุนมากกว่าผลกำไร">
                                                    {{key}}:{{stats.get(key)}}
                                                </div>
                                                {% elif 'Equity Peak' in key %}
                                                <div class="col-lg-4 text-success" >
                                                    ผลตอบแทนสูงสุดของการลงทุนในช่วงเวลาหนึ่ง [$]:{{stats.get(key)}}
                                                </div>
                                                {% elif 'Max. Drawdown' in key %}
                                                <div class="col-lg-4 text-success" role="button" data-toggle="tooltip" title="หมายถึงค่าที่สูงสุดของการลดลงของมูลค่าการลงทุนหรือทรัพย์สินจากจุดสูงสุดถึงจุดต่ำสุดในระยะเวลาที่กำหนด นั่นหมายความว่า Max. Drawdown จะแสดงผลลัพธ์ในระดับของการสูญเสียที่มากที่สุดที่เกิดขึ้นจากยอดสูงสุดของมูลค่าการลงทุนหรือทรัพย์สิน

                                                ค่า Max. Drawdown เป็นตัววัดที่ใช้ในการประเมินความเสี่ยงของการลงทุนหรือธุรกรรม ค่าที่สูงแสดงถึงการสูญเสียที่สูงมากเมื่อเทียบกับค่าสูงสุดที่เคยมี หากค่า Max. Drawdown มีค่ามาก อาจแสดงถึงการลงทุนที่มีความเสี่ยงสูง ในขณะที่ค่า Max. Drawdown น้อยแสดงถึงการควบคุมความเสี่ยงที่ดีขึ้น
                                                
                                                การวัดและทราบ Max. Drawdown สามารถช่วยให้นักลงทุนหรือผู้ซื้อขายรับรู้ถึงความเสี่ยงและความสามารถในการกู้คืนของการลงทุนหรือธุรกรรมในกรณีที่มีการสูญเสียเกิดขึ้น">
                                                    {{key}}:{{stats.get(key)}}
                                                </div>
                                                {% elif 'Max. Trade Duration' in key %}
                                                <div class="col-lg-4 text-success" >
                                                    ระยะเวลาซื้อขายสูงสุด:{{stats.get(key)}} วินาที
                                                </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-5 my-3 align-items-center">
                    <div class="col-lg-4">
                        <div class="mb-5 mb-lg-0 text-lg">
                            <div class="card">



                                <div class="form-group col-md-12 mb-2">
                                    <label for="name" class="my-3 mx-3 bg-light-text">เงินทุน</label>
                                  <input type="text" class="form-control" value="10000" id="cash" name="cash" required>
                                </div>

                                <div class="form-group col-md-12 mb-2">
                                    <label for="name" class="my-3 mx-3 bg-light-text">ค่าคอมมิชชั่นโบรกเกอร์</label>
                                  <input type="number" step="0.01" value="0" min="0" max="10" class="form-control" id="commission" name="commission" required>
                                </div>

                                <div class="form-group col-md-12 mb-2">
                                    <label class="my-3 mx-3 bg-light-text">timeframe</label>
                                    <select id="timeframe" name="timeframe" class="form-select form-select" aria-label=".form-select-lg example" required>
                                        <option value="15m">15 นาที</option>
                                        <option value="30m">30 นาที</option>
                                        <option value="1hr">1 ชั่วโมง</option>
                                        <option value="4hr">4 ชั่วโมง</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-12 mb-2">
                                    <label for="name" class="my-3 mx-3 bg-light-text">take profit%</label>
                                  <input type="number" step="0.01" value="20" class="form-control" id="takeprofit" name="takeprofit" required>
                                </div>

                                <div class="form-group col-md-12 mb-2">
                                    <label for="name" class="my-3 mx-3 bg-light-text">stop loss%</label>
                                  <input type="number" step="0.01" value="30" class="form-control" id="stoploss" name="stoploss" required>
                                </div>

                                <div class="form-group col-md-12 mb-2">
                                    <label class="my-3 mx-3 bg-light-text">periods (ระยะเวลาของกราฟ)</label>
                                    <select id="periods" name="periods" class="form-select form-select" aria-label=".form-select-lg example" required>
                                        <option value="1d">1 วัน</option>
                                        <option value="5d">5 วัน</option>
                                        <option value="1mo" selected>1 เดือน</option>
                                        <option value="3mo">3 เดือน</option>
                                        <option value="6mo">6 เดือน</option>
                                        <option value="1y">1 ปี</option>
                                        <option value="2y">2 ปี</option>
                                        <option value="5y">5 ปี</option>
                                        <option value="10y">10 ปี</option>
                                        <option value="max">มากที่สุด</option>
                                    </select>
                                </div>


                                <button type="submit" class="btn btn-primary my-3 mx-3">Submit</button>

                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="mb-5 mb-lg-0 text-lg">
                            <div class="card img-fluid">
                                {% if uuid %}
                                    {% include uuid+'.html' %}
                                {% else %}
                                    {% include 'hello.html' %}
                                {% endif %}

                            </div>
                            
                        </div>
                    </div>

                </div>
                </form>
            </div>
        </header>

        <section class="bg-gradient-primary-to-secondary" id="download">
            <div class="container px-5">
                <h2 class="text-center text-white font-alt mb-4">เพิ่มเราเป็นเพื่อนได้เลย!</h2>
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                    <a href="https://lin.ee/2N7v1xn"><img class="app-badge" style="border-radius:5px;" src="{{url_for('.static', filename='img/Logo_LINE-Account.png')}}" alt="..." /></a>
                </div>                                       
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-black text-center py-5">
            <div class="container px-5">
                <div class="c-dark text-50 small">
                    <div class="mb-2">&copy; Your Website 2022. All Rights Reserved.</div>
                    <a href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a href="#!">FAQ</a>
                </div>
            </div>
        </footer>
        <!-- Feedback Modal-->
        <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-primary-to-secondary p-4">
                        <h5 class="modal-title font-alt text-white" id="feedbackModalLabel">Send feedback</h5>
                        <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body border-0 p-4">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary rounded-pill btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('.static', filename='js/bootstrap-maxlength.min.js')}}"></script>
        <script src="{{url_for('.static', filename='js/scripts.js')}}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

        <!-- Dark mode -->
        <script src="{{url_for('.static', filename='js/dark-mode-switch.min.js')}}"></script>
        <script src="{{url_for('.static', filename='js/dark-mode-switch.js')}}"></script>

        <script>
            var exp_alert = "{{exp_alert}}"

            if(exp_alert){
                liff.logout()
                Swal.fire(
                exp_alert,
                'กรุณาล๊อกอินใหม่อีกครั้ง',
                'question'
                )
            }

            
            function setSelectedValue(selectObj, valueToSet) {
                for (var i = 0; i < selectObj.options.length; i++) {
                    if (selectObj.options[i].text== valueToSet || selectObj.options[i].value== valueToSet) {
                        selectObj.options[i].selected = true;
                        return;
                    }
                }
            }

            function setSymbolSelectedValue(selectObj, valueToSet) {
                for (var i = 0; i < selectObj.options.length; i++) {
                    if (selectObj.options[i].text== valueToSet) {
                        selectObj.options[i].selected = true;
                        return;
                    }
                }
            }

            var symbol = "{{symbol}}"
            if(symbol){
                selectObj = document.getElementById('symbol');
                valueToSet = symbol;
                setSymbolSelectedValue(selectObj, valueToSet)
            }

            if( "{{tp}}"){
                document.getElementById('takeprofit').value = "{{tp}}";
            }
            if( "{{sl}}"){
                document.getElementById('stoploss').value = "{{sl}}";
            }
            if( "{{cashs}}"){
                document.getElementById('cash').value = "{{cashs}}";
            }
            if( "{{commissions}}"){
                document.getElementById('commission').value = "{{commissions}}";
            }
            if( "{{periods}}"){
                setSelectedValue(document.getElementById('periods'), "{{periods}}")
            }
            if( "{{timeframe}}"){
                setSelectedValue(document.getElementById('timeframe'), "{{timeframe}}")
            }
            
        </script>
        
    </body>
</html>

